<template>
  <ol class="answer-list">
    <slot></slot>
  </ol>
</template>

<script>
let counter = 0;

export default {
  name: 'AnswerList',
  data() {
    counter += 1;

    return {
      name: `answer-list-${counter}`,
    };
  },
};
</script>

<style lang="scss" scoped>
  .answer-list {
    width: 100%;
  }
</style>
