<template>
  <li class="answer">
    <input :id="id" :name="name" type="radio">
    <label :for="id"><slot></slot></label>
  </li>
</template>

<script>
let counter = 0;

export default {
  name: 'AnswerItem',
  data() {
    counter += 1;

    return {
      name: this.$parent.name,
      id: `${this.$parent.name}-${counter}`,
    };
  },
};
</script>

<style lang="scss" scoped>
  .answer {
    &:hover {
      background-color: grey;
    }

    label {
      display: block;
    }

    input[type="radio"] {
      display: none;

      &:checked + label {
        background-color: grey;
      }
    }
  }
</style>
