<template>
  <section>
    <question>
      <question-body>
        <question-title>どのように出力される?</question-title>
        <answer-list>
          <answer-item>10</answer-item>
          <answer-item>20</answer-item>
        </answer-list>
      </question-body>
      <question-actual>
        <repl-it path="@masakura/haradagakuen-bug2"></repl-it>
      </question-actual>
      <question-description>
        <right-answer>2. 20</right-answer>
        <p>
          この問題はとくに解説はいりませんよね?
        </p>
      </question-description>
    </question>
  </section>
</template>

<script>
export default {
  name: 'BugCode2',
};
</script>
