<template>
  <section>
    <question>
      <question-body>
        <question-title>どのように出力される?</question-title>
        <!-- eslint-disable -->
        <p>
          10 行目の出力は?
        </p>
        <p>
          直前の問題の 6 行目と 7 行目にデバッグのために <highlight-code lang="c" inline>printf</highlight-code> をいれてみました。
        </p>
        <answer-list>
          <answer-item>10</answer-item>
          <answer-item>20</answer-item>
        </answer-list>
      </question-body>
      <question-actual>
        <repl-it path="@masakura/haradagakuen-bug3"></repl-it>
      </question-actual>
      <question-description>
        <right-answer>2. 20</right-answer>
        <p>
          <highlight-code lang="c" inline>printf</highlight-code> を入れたことで、<highlight-code lang="c" inline>if</highlight-code> 文が真のときに実行される命令が変わって結果がかわりました。
        </p>
        <p>
          この例のように、デバッグのためにプログラムを修正したら動かなくなるというパターンはよくあります。知っておかないと混乱します。一箇所だけならまだいいのですが、こういうパターンで何箇所もいっぺんに書き換えると本当にわからなくなります。
        </p>
        <p>
          これを防ぐために、コーディング規約で <highlight-code lang="c" inline>{}</highlight-code> の省略を認めないとすることも多いです。
        </p>
      </question-description>
    </question>
  </section>
</template>

<script>
export default {
  name: 'BugCode3',
};
</script>
