<template>
  <section>
    <question>
      <question-body>
        <question-title>どのように出力される?</question-title>
        <answer-list>
          <answer-item>何も出力されない</answer-item>
          <answer-item>0</answer-item>
          <answer-item>8</answer-item>
          <answer-item>プログラムが落ちる</answer-item>
          <answer-item>分からない</answer-item>
        </answer-list>
      </question-body>
      <question-actual>
        <repl-it path="@masakura/haradagakuen-bug5"></repl-it>
      </question-actual>
      <question-description>
        <right-answer>5. 分からない</right-answer>
        <!-- eslint-disable -->
        <p>
          C 言語 (及び C++) は、配列の添字が範囲内かどうかの検査をしません。また、添字は 0 スタートです。配列 a に 8 番目の要素はありませんが、添字の検査がされないため、配列 a の次のメモリの値が表示されます。ここに何が入っているかは分かりませんので、正解は分からないとなります。
        </p>
        <p>
          範囲外アクセスをしないのは当然なので、特にコーディング規約に書かれてはいないと思います。ただし、検査ツールやコンパイラーで検出できることが多いです。
        </p>
        <p>
          ただし、一般的なケースでは配列の長さが事前に分かることは少なく、範囲外アクセスを検出することは難しいです。C++ ならば STL を利用することで、範囲外アクセス時に例外を出すことができます。
        </p>
      </question-description>
    </question>
  </section>
</template>

<script>
export default {
  name: 'BugCode5',
};
</script>
