<template>
  <section>
    <question>
      <question-body>
        <question-title>どのように出力される?</question-title>
        <answer-list>
          <answer-item>1 です</answer-item>
          <answer-item>1 ではないです</answer-item>
        </answer-list>
      </question-body>
      <question-actual>
        <repl-it path="@masakura/haradagakuen-bug4"></repl-it>
      </question-actual>
      <question-description>
        <right-answer>1. 1 です</right-answer>
        <!-- eslint-disable -->
        <p>
          比較演算子 <highlight-code lang="c" inline>==</highlight-code> と間違って代入演算子 <highlight-code lang="c" inline>=</highlight-code> を書いちゃった間違いです。間違った本人は間違って書いたつもりはないのでなかなか気が付きません。
        </p>
        <p>
          コーディング規約で <highlight-code lang="c" inline>if</highlight-code> 文の中の式は条件式以外認めないとし、検査ツールで検出する方法がよく使われています。
        </p>
      </question-description>
    </question>
  </section>
</template>

<script>
export default {
  name: 'BugCode4',
};
</script>
