<template>
  <section>
    <question>
      <question-body>
        <question-title>どのように出力される?</question-title>
        <answer-list>
          <answer-item>あいうえお</answer-item>
          <answer-item>いうえお</answer-item>
          <answer-item>うえお</answer-item>
          <answer-item>えお</answer-item>
        </answer-list>
      </question-body>
      <question-actual>
        <repl-it path="@masakura/haradagakuen-bug1"></repl-it>
      </question-actual>
      <question-description>
        <right-answer>2. いうえお</right-answer>
        <!-- eslint-disable -->
        <p>
          <highlight-code lang="c" inline>if</highlight-code> 文で <highlight-code lang="c" inline>{}</highlight-code> を省略した場合、直後の一つの文だけが使われます。
        </p>
        <p>
          インデントが揃えてあるので騙されやすいですが、7 行目のみが <highlight-code lang="c" inline>if</highlight-code> 文が真のときのみ実行されます。それ以外は <highlight-code lang="c" inline>if</highlight-code> 文に関係なく実行されます。
        </p>
        <p>
          わかりやすく書くとこんな感じですね。
        </p>
        <highlight-code lang="c">
          if (x == 1) {
            printf("あ");
          }

          printf("い");
          printf("う");

          printf("え");
          printf("お");
        </highlight-code>
        <p>
          コードフォーマッターを利用すると、このようなミスを減らせます。
        </p>
      </question-description>
    </question>
  </section>
</template>

<script>
export default {
  name: 'BugCode1',
};
</script>
