<template>
  <section>
    <question>
      <question-body>
        <question-title>true は何個出力される?</question-title>
        <p>Java の問題です。</p>
        <answer-list>
          <answer-item>一つもない</answer-item>
          <answer-item>一つ</answer-item>
          <answer-item>三つ</answer-item>
          <answer-item>四つ</answer-item>
          <answer-item>すべて true</answer-item>
          <answer-item>分からない</answer-item>
        </answer-list>
      </question-body>
      <question-actual>
        <repl-it path="@masakura/haradagakuen-java-bug1"></repl-it>
      </question-actual>
      <question-description>
        <right-answer>6. 分からない</right-answer>
        <!-- eslint-disable -->
        <p>
          <highlight-code lang="java" inline>true</highlight-code> が三つ表示されます。しかし、環境で変化する恐れがあり、プログラマーとしては全て <highlight-code lang="java" inline>false</highlight-code> になる前提でプログラムを書くべきです。
        </p>
        <p>
          Java の比較演算子 <highlight-code lang="java" inline>==</highlight-code> はオブジェクト変数に対しては同じオブジェクトを指しているかを調べます。最適化が働かない場合はすべての文字列 <highlight-code lang="java" inline>"hello"</highlight-code> は別々のオブジェクトとなるため、すべて <highlight-code lang="java" inline>false</highlight-code> になります。
        </p>
        <p>
          このケースでは、a / b /e の三つは最適化により同じオブジェクトになります。c や d は最適化されても別のオブジェクトとなります。
        </p>
        <p>
          Java ではオブジェクトの比較に <highlight-code lang="java" inline>equals()</highlight-code> メソッドを利用します。
        </p>
      </question-description>
    </question>
  </section>
</template>

<script>
export default {
  name: 'BugJava1',
};
</script>
