<template>
  <section>
    <question>
      <question-body>
        <question-title>true は何個出力される?</question-title>
        <p>JavaScript の問題です。</p>
        <answer-list>
          <answer-item>一つもない</answer-item>
          <answer-item>一つ</answer-item>
          <answer-item>三つ</answer-item>
          <answer-item>五つ</answer-item>
          <answer-item>すべて true</answer-item>
          <answer-item>分からない</answer-item>
        </answer-list>
      </question-body>
      <question-actual>
        <repl-it path="@masakura/haradagakuen-javascript1"></repl-it>
      </question-actual>
      <question-description>
        <right-answer>5. すべて true</right-answer>
        <!-- eslint-disable -->
        <p>
          JavaScript の比較演算子 <highlight-code lang="javascript" inline>==</highlight-code> は型変換が行われます。数値との比較ではもう片方が数値に変換されます。6 行目以外は左辺はすべて 0 に変換されるため、<highlight-code lang="javascript" inline>true</highlight-code> になります。
        </p>
        <p>
          一般的な JavaScript のコーディング規約では、比較演算子として <highlight-code lang="javascript" inline>==</highlight-code> ではなく <highlight-code lang="javascript" inline>===</highlight-code> を使うことが推奨されています。
        </p>
        <p>
          比較演算子に問題があるプログラム言語は他にもあり、PHP や Visual Basic などもそうです。
        </p>
      </question-description>
    </question>
  </section>
</template>

<script>
export default {
  name: 'BugJavaScript1',
};
</script>
