<template>
  <section>
    <!-- eslint-disable -->
    <h3>どちらが情報量が多い?</h3>
    <p>
      「よりよい名前をつける」は規約に書かれていることが多い
    </p>
    <question>
      <question-body>
        <highlight-code class="code-item" lang="c">
          int main(void) {
            int a[] = {33, 58, 28, 39, 84, 100};
            int b = 0;

            for (int i = 0; i < sizeof(a); i++) {
              b += a[i];
            }

            printf("%d", b);
          }
        </highlight-code>
      </question-body>
      <question-body>
        <highlight-code class="code-item" lang="c">
          int main(void) {
            int scores[] = {33, 58, 28, 39, 84, 100};
            int totalScore = 0;

            for (int i = 0; i < sizeof(scores); i++) {
              totalScore += scores[i];
            }

            printf("%d", totalScore);
          }
        </highlight-code>
      </question-body>
    </question>
  </section>
</template>

<script>
export default {
  name: 'GoodNames',
};
</script>
