<template>
  <section>
    <question>
      <question-body>
        <question-title>どのように出力される?</question-title>
        <answer-list>
          <answer-item>あいう</answer-item>
          <answer-item>あう</answer-item>
          <answer-item>いう</answer-item>
          <answer-item>それ以外</answer-item>
        </answer-list>
      </question-body>
      <question-actual>
        <repl-it path="@masakura/haradagakuen-messy-style1"></repl-it>
      </question-actual>
      <question-description open>
        <!-- eslint-disable -->
        <right-answer>2. あう</right-answer>
        <p>
          8 行目の <highlight-code lang="c" inline>x < y</highlight-code> で x の方が小さいので、10 行目の "あ" は表示されますが 14 行目の "い" は表示されません。
        </p>
        <p>
          "う" は if 文の外なので無条件で表示されます。
        </p>
      </question-description>
    </question>
  </section>
</template>
