<template>
  <section>
    <question>
      <question-body>
        <question-title>どのように出力される?</question-title>
        <answer-list>
          <answer-item>あいう</answer-item>
          <answer-item>あう</answer-item>
          <answer-item>いう</answer-item>
          <answer-item>それ以外</answer-item>
        </answer-list>
      </question-body>
      <question-actual>
        <repl-it path="@masakura/haradagakuen-messy-style2"></repl-it>
      </question-actual>
      <question-description>
        <right-answer>2. あう</right-answer>
        <!-- eslint-disable -->
        <p>
          一つ前の問題と同じプログラムですが、インデントや括弧の位置などがばらばらです。丁寧に読み取っていけば理解できるのですが、時間がかかる上に、間違って読んでしまうこともあります。
        </p>
        <p>
          この問題では短いプログラムですが、実際のお仕事ではとても長いプログラムを書きます。また、仕事のほとんどはすでにあるプログラムの修正です。そんな中、このようにスタイルが統一されていないと誤読したり、バグを見逃したりします。
        </p>
      </question-description>
    </question>
  </section>
</template>
