<template>
  <h3 class="question-title">
    Q. <slot></slot>
  </h3>
</template>

<script>
export default {
  name: 'QuestionTitle',
};
</script>

<style lang="scss" scoped>
  .question-title {
    position: absolute;
    margin-top: -5rem;
  }
</style>
