<template>
  <div class="question-actual">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'QuestionActual',
};
</script>

<style lang="scss" scoped>
  .question-actual {
    padding-top: 5rem;
    flex-grow: 1;
  }
</style>
