<template>
  <div>
    <dialog class="question-description">
      <div class="navigation">
        <a href="#" class="button" @click.prevent="close">閉じる</a>
      </div>
      <div class="description-body">
        <slot></slot>
      </div>
    </dialog>
    <div class="navigation navigation-description">
      <a href="#" class="button button-description" @click.prevent="open">解説</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuestionDescription',
  mounted() {
    this.close();
  },
  methods: {
    open() {
      this.$el.querySelector('.question-description').showModal();
    },
    close() {
      this.$el.querySelector('.question-description').close();
    },
  },
};
</script>

<style lang="scss" scoped>
  .question-description {
    opacity: 0.8;
    background-color: black;
    color: white;
    text-align: left;
    max-width: 60%;
  }

  .question-description .navigation {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 16px;
  }

  .navigation .button {
    font-size: 1rem;
    border: 0;
    background-color: inherit;;
    color: inherit;
  }

  .navigation .button-description {
    background-color: green;
    padding: 10px 16px;
  }

  .navigation-description {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .description-body {
    font-size: 70%;
  }
</style>
