<template>
  <section>
    <question>
      <question-body>
        <question-title>どのように出力される?</question-title>
        <p>
          練習問題です。
        </p>
        <p>
          右のプログラムの出力は以下のどれでしょう?
        </p>
        <answer-list>
          <answer-item>Hello World!</answer-item>
          <answer-item>"Hello World!\n"</answer-item>
          <answer-item>こんにちは、世界!</answer-item>
        </answer-list>
      </question-body>
      <question-actual>
        <repl-it path="@masakura/haradagakuen-traning"></repl-it>
      </question-actual>
      <question-description>
        <right-answer>1. Hello World!</right-answer>
        <p>
          特に解説は必要ありませんね!
        </p>
        <p>
          以降このようにクイズを出します。あまり深く考え込まず、直感で答えてください!
        </p>
      </question-description>
    </question>
  </section>
</template>

<style lang="scss" scoped>
  .question {
    display: flex;
    text-align: left;
  }

  .question-body {
    flex-basis: 10em;
  }

  .question-actual {
    flex-grow: 1;
  }
</style>
