<template>
  <div class="question-body">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'QuestionBody',
};
</script>

<style lang="scss" scoped>
  .question-body {
    padding-top: 5rem;
    flex-basis: 10em;
  }
</style>
