<template>
  <div class="question">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Question',
};
</script>

<style lang="scss" scoped>
  .question {
    display: flex;
  }
</style>
