<template>
  <div class="repl-it" style="height: 500px">
    <!-- eslint-disable -->
    <iframe v-if="visible" height="500px" width="100%" :src="src" scrolling="no"
            frameborder="no" allowtransparency="true" allow="fullscreen"
            sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
    <!-- eslint-enable -->
  </div>
</template>

<script>
export default {
  name: 'ReplIt',
  props: {
    path: String,
  },
  data() {
    return {
      visible: false,
    };
  },
  computed: {
    src() {
      return `https://repl.it/${this.path}?lite=true`;
    },
  },
  mounted() {
    this.$el.init = () => {
      this.visible = true;
    };
  },
};
</script>

<style scoped>
</style>
