<template>
  <div>
    正解: <span class="right-answer"><slot></slot></span>
  </div>
</template>

<script>
export default {
  name: 'RightAnswer',
};
</script>

<style lang="scss" scoped>
  .right-answer {
    color: red;
    font-weight: bold;
  }
</style>
