<template>
  <section>
    <!-- eslint-disable -->
    <question>
      <question-body>
        <question-title>どちらがいい? (括弧内の空白)</question-title>
        <highlight-code class="code-item" lang="c">
          int main(void)
          {
              int x = 15;
              int y = 30;

              if (x < y)
              {
                  printf("y が大きい");
              }
          }
        </highlight-code>
      </question-body>
      <question-body>
        <highlight-code class="code-item" lang="c">
          int main( void )
          {
              int x = 15;
              int y = 30;

              if ( x < y )
              {
                  printf( "y が大きい" );
              }
          }
        </highlight-code>
      </question-body>
    </question>
  </section>
</template>

<script>
export default {
  name: 'StylePattern1',
};
</script>
