<template>
  <div class="reveal">
    <div class="slides">
      <section>
        <h1>コーディング規約</h1>
      </section>

      <section>
        <h3>みんなが話聞いてくれるうちに...</h3>
      </section>

      <section>
        <h3>新規案件より改修案件が多い (らしい)</h3>
      </section>

      <section>
        <h3>プログラムを読んでいる時間の方が長いということ</h3>
      </section>

      <section>
        <h3>もう一つ</h3>
      </section>

      <section>
        <h3>間違いは先に見つけたほうがお得</h3>
        <p>各工程での間違い修正にかかるコスト</p>
        <ul>
          <li>要求仕様: 1</li>
          <li>設計段階: 5</li>
          <li>コーディング: 10</li>
          <li>テスト: 20</li>
          <li>納入時点: 200</li>
        </ul>
        <p style="font-size: 1rem;">
          <a href="https://www.ipa.go.jp/files/000049404.pdf">先進的な設計・検証技術の適用事例報告書 2015 年度版 (IPA)</a> より
        </p>
      </section>

      <section>
        <h3>本題に入ります!</h3>
      </section>

      <section>
        <h3>その前にトレーニング!</h3>
      </section>

      <question-training></question-training>

      <section>
        <h3>今度こそ本題に!</h3>
      </section>

      <messy-style1></messy-style1>

      <messy-style2></messy-style2>

      <style-pattern1></style-pattern1>

      <style-pattern2></style-pattern2>

      <style-pattern3></style-pattern3>

      <section>
        <h3>そろってれば<br>どっちでもよくないですか?</h3>
      </section>

      <section>
        <h3>コーディング規約が必要</h3>
      </section>

      <section>
        <h3>宗教戦争勃発</h3>
      </section>

      <section>
        <h3>コーディング規約</h3>
        <p>
          よく利用されているコーディング規約を使う。
        </p>
        <ul>
          <li><a href="https://llvm.org/docs/CodingStandards.html">LLVM Coding Standards</a> (C++)</li>
          <li><a href="https://google.github.io/styleguide/cppguide.html">Google C++ Style Guide</a> (C++)</li>
          <li><a href="https://google.github.io/styleguide/javaguide.html">Google Java Style Guide</a> (Java)</li>
          <li>
            <a href="https://www.php-fig.org/psr/psr-4/">PSR-4</a>
            <a href="https://www.php-fig.org/psr/psr-1/">PSR-1</a>
            <a href="https://www.php-fig.org/psr/psr-2/">PSR-2</a>
            <a href="https://www.php-fig.org/psr/psr-3/">PSR-3</a>
            (PHP)
          </li>
          <li><a href="https://standardjs.com/">JavaScript Standard Style</a> (JavaScript)</li>
          <li><a href="https://github.com/airbnb/javascript">Airbnb JavaScript Style Guide() {</a> (JavaScript)</li>
          <li>他にもいっぱいあるよ</li>
        </ul>
      </section>

      <section>
        <h3>スタイルをそろえるのは大変</h3>
        <ul>
          <li>何万行というコードをそろえて書くのは大変</li>
          <li>(PBL の短いコードでもそろっていないことが)</li>
          <li>そもそも規約を全部理解していますか?</li>
        </ul>
      </section>

      <section>
        <h3>コードフォーマッターを使う</h3>
        <ul>
          <li>規約に沿ってコードを自動で整形してくれる</li>
          <li>Beautifier とか呼ばれることもある</li>
          <li>Visual Studio のはしょぼすぎる...</li>
        </ul>
      </section>

      <section>
        <h3>ClangFormat</h3>
        <ul>
          <li>LLVM に含まれる C/C++ のコードフォーマッター</li>
          <li><code>.clang-format</code> ファイルに規約を書く</li>
          <li>Visual Studio 2017 (2017.15.7) から標準対応</li>
          <li>それ以前の Visual Studio は拡張機能があるけど、動かない...</li>
        </ul>
      </section>

      <section>
        <h3>.clang-format</h3>
        <highlight-code lang="yaml">
          # .clang-format (既定の規約を使う場合)
          BasedOnStyle: LLVM
        </highlight-code>
        <highlight-code lang="yaml">
          # .clang-format (カスタム)
          UseTab: Never
          IndentWidth: 4
          BreakBeforeBraces: Allman
          AllowShortIfStatementsOnASingleLine: false
          IndentCaseLabels: false
          ColumnLimit: 0
        </highlight-code>
      </section>

      <section>
        <h3>デモ</h3>
      </section>

      <section>
        <h3>他の言語にもあるので調べてみてね</h3>
      </section>

      <section>
        <h3>ところで</h3>
        <h3>コーディング規約には他の目的も</h3>
      </section>

      <section>
        <h3>コーディング規約の目的</h3>
        <ul>
          <li>スタイルの統一</li>
          <li>コードを読みやすくする</li>
          <li>バグを未然に防ぐ</li>
        </ul>
      </section>

      <section>
        <h3>バグを未然に防ぐ</h3>
      </section>

      <section>
        <h2>バグを未然に防ぐ</h2>
      </section>

      <section>
        <h1>バグを未然に防ぐ</h1>
      </section>

      <bug-code1></bug-code1>
      <bug-code2></bug-code2>
      <bug-code3></bug-code3>
      <bug-code4></bug-code4>
      <bug-code5></bug-code5>

      <section>
        <h3>静的コード検査</h3>
        <ul>
          <li>今日出題した問題のような間違いや間違いやすい部分を検出します</li>
          <li>Linter とか解析ツールとか呼ばれることもあります</li>
          <li>コンパイラーにもこの機能があります</li>
        </ul>
      </section>

      <section>
        <h3>デモ</h3>
      </section>

      <section>
        <h3>C / C++ (Visual Studio)</h3>
        <ul>
          <li>ClangFormat でスタイルを整える</li>
          <li>コンパイラーの警告レベルを上げる</li>
          <li>警告をエラー扱いする</li>
          <li>ビルド時にコード解析を有効にする</li>
        </ul>
      </section>

      <section>
        <h3>JavaScript</h3>
        <ul>
          <li><a href="https://eslint.org/">ESLint</a> でスタイルと規約を設定する</li>
          <li>Airbnb や JavaScript Standards のスタイルを ESLint に設定する</li>
          <li>エディター (もしくは統合開発環境) に ESLint のプラグインを入れる</li>
        </ul>
      </section>

      <section>
        <h3>なるべく良い環境を使おう</h3>
        <ul>
          <li>コードフォーマッターを使いましょう</li>
          <li>静的検査ツールでバグを未然に防ぎましょう</li>
          <li>知らないプログラム言語をはじめるときに重要です!</li>
          <li>
            統合開発環境はこれらが標準なことが多い
            <ul>
              <li><a href="https://visualstudio.microsoft.com/">Visual Studio</a></li>
              <li><a href="https://developer.android.com/studio/?hl=ja">Android Studio</a></li>
              <li><a href="https://www.jetbrains.com/idea/">IntelliJ IDEA</a></li>
            </ul>
          </li>
        </ul>
      </section>

      <section>
        <h3>とはいえ、すべては検出できない</h3>
      </section>

      <good-names></good-names>

      <section>
        <h3>おまけ</h3>
      </section>

      <section>
        <h3>書けるけど、書いちゃいけないは結構多い</h3>
      </section>

      <bug-java-script1></bug-java-script1>

      <bug-java1></bug-java1>
    </div>
  </div>
</template>

<script>
import QuestionTraining from '@/components/QuestionTraining.vue';
import MessyStyle1 from '@/components/MessyStyle1.vue';
import MessyStyle2 from '@/components/MessyStyle2.vue';
import StylePattern1 from '@/components/StylePattern1.vue';
import StylePattern2 from '@/components/StylePattern2.vue';
import StylePattern3 from '@/components/StylePattern3.vue';
import BugCode1 from '@/components/BugCode1.vue';
import BugCode2 from '@/components/BugCode2.vue';
import BugCode3 from '@/components/BugCode3.vue';
import BugCode4 from '@/components/BugCode4.vue';
import BugCode5 from '@/components/BugCode5.vue';
import BugJavaScript1 from './components/BugJavaScript1.vue';
import BugJava1 from './components/BugJava1.vue';
import GoodNames from '@/components/GoodNames.vue';

export default {
  name: 'app',
  components: {
    GoodNames,
    BugJava1,
    BugJavaScript1,
    BugCode5,
    BugCode1,
    BugCode2,
    BugCode3,
    BugCode4,
    StylePattern1,
    StylePattern2,
    StylePattern3,
    QuestionTraining,
    MessyStyle1,
    MessyStyle2,
  },
};
</script>

<style>
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: unset;
  }
</style>
